In [1]:
import pandas as pd

In [2]:
import chardet
with open('spam.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7270322499829184, 'language': ''}

In [3]:
df = pd.read_csv('spam.csv',encoding='Windows-1252')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df = df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
dict = {'v1' : 'category',
       'v2' : 'message'}
df.rename(columns=dict, inplace=True)
df.head()

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
dummies = pd.get_dummies(df.category)
dummies

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
...   ...   ...
5563    1     0
5564    1     0
5565    1     0
5566    0     1
5567    0     1

[5568 rows x 2 columns]

In [7]:
merged = pd.concat([df,dummies], axis='columns')
merged

     category                                            message  ham  spam
0         ham  Go until jurong point, crazy.. Available only ...    1     0
1         ham                      Ok lar... Joking wif u oni...    1     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...    0     1
3         ham  U dun say so early hor... U c already then say...    1     0
4         ham  Nah I don't think he goes to usf, he lives aro...    1     0
...       ...                                                ...  ...   ...
5563      ham                                Ard 6 like dat lor.    1     0
5564      ham  Why don't you wait 'til at least wednesday to ...    1     0
5565      ham                                       Huh y lei...    1     0
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...    0     1
5567     spam  This is the 2nd time we have tried 2 contact u...    0     1

[5568 rows x 4 columns]

In [8]:
final = merged.drop(['category', 'ham'], axis = 'columns')
final

                                                message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5563                                Ard 6 like dat lor.     0
5564  Why don't you wait 'til at least wednesday to ...     0
5565                                       Huh y lei...     0
5566  REMINDER FROM O2: To get 2.50 pounds free call...     1
5567  This is the 2nd time we have tried 2 contact u...     1

[5568 rows x 2 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(final.message, final.spam, test_size=0.25)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [12]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=uint8)

In [14]:
X_test_count = v.transform(x_test)
model.score(X_test_count, y_test)

0.9813218390804598

## Sklearn Pipeline

In [15]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [17]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [19]:
clf.score(x_test,y_test)

0.9813218390804598

In [20]:
clf.predict(emails)

array([0, 1], dtype=uint8)